.header {
    font-weight: 200;
    font-size: 40px;
}

.label {
    font-weight: 200;
    font-size: 24px;
}

.input {
    width: 206px;
    height: 38px;

    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
}