.header {
    font-weight: 200;
    font-size: 40px;
}

.label {
    font-weight: 200;
    font-size: 24px;
}

.text {
    font-weight: 200;
    font-size: 18px;
}

.input {
    width: 206px;
    height: 38px;

    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
}

.logo {
    width: 115px;
}

.divider {
    height: 100%;
    width: 2px;
    background-color: var(--brand-color);
}

.container {
    width: 820px;
    height: 360px;
}

.leftContainer {
    width: 500px;
}