.image {
    width: 260px;
}

.block-header {
    font-weight: 200;
    font-size: 40px;
}

.line-title {
    font-size: 20px;
    line-height: 26px;
    color: #A09797;
}

.lineBlock {
    width: 260px !important;
}

.closeImage {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    height: 30px;
}