
.block-header {
    font-weight: 200;
    font-size: 40px;
}

.step-title {
    font-size: 32px;
}

.substep-title {
    font-weight: 200;
    font-size: 26px;
}

.text {
    font-size: 20px;
}

.mobile-screen {
    width: 300px !important;
    height: 600px !important;
}

.code-screen {
    width: 300px;
    height: 180px;
}

.cards-container {
    width: 300px;
}