.border-brand-color {
    border-color: var(--brand-color) !important;
}

.button-brand-color {
    background-color: var(--brand-color) !important;
    border-color: var(--brand-color) !important;
    color: var(--dark);
}

.button-brand-color {
    background-color: var(--brand-color) !important;
    border-color: var(--brand-color) !important;
    color: var(--dark);
}

.button-secondary-color {
    background-color: #E5E5E5 !important;
    border-color: #E5E5E5 !important;
    color: var(--dark);
}

.sup-image {
    height: 35px;
    width: 35px;
}

.link {
    cursor: pointer;
}

.spinner-container {
    min-height: 60vh;
}