.main-image-container {
    position: relative;
}

.main-image {
    width: 100%;
    margin-bottom: 45px;
}

.promo-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 3%;
    top: 15%;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 2%;
    top: 35%;
    width: 400px;
}

.promo-text-line1 {
    font-size: 36px;
    margin-left: -55px;
    white-space: pre-line;
}

.promo-text-line2 {
    font-size: 24px;
    margin-left: -20px;
}

.promo-text-line3 {
    font-size: 24px;
    margin-left: 25px;
}

.block-header {
    font-weight: 200;
    font-size: 40px;
}

.block-subtitle {
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 20px;
}

.block-purple {
    background-color: #6A5586;
}

.get-method-block {
    border: 1px solid var(--brand-color);
    border-radius: 7px;
    position: relative;
}

.get-method-title {
    position: absolute;
    left: 20px;
    bottom: -10px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 200;
    font-size: 18px;
}

.get-money-button {
    background: #FCA235;
    border: 1px solid #FCA235;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px 60px 20px 60px;
}

.get-money-button-text {
    font-size: 24px;
    color: #FFFFFF;
}

.block-about {
    padding-top: 32px;
    padding-bottom: 32px;
}

.about-header {
    font-weight: 500;
    font-size: 38px;
    color: #FFFFFF;
    margin-right: 60px;
}

.about-text {
    font-weight: 200;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.about-subtext {
    font-weight: 200;
    font-size: 24px;
    color: #FFFFFF;
}

.about-circle {
    background-color: var(--brand-color);
    height: 15px;
    width: 15px;
    border-radius: 20px;
    margin-right: 10px;
}

.carouselContainer {
    width: 70%;
    height: 100%;
}

.replyContainer {
    background: #FFFFFF;
    border: 1px solid #FCA235;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 13px;
    width: 300px;
    height: 260px;
    padding: 10px;
}

.replyName {
    font-weight: 200;
    font-size: 18px;
}

.replyText {
    font-weight: 200;
    font-size: 18px;
}

.carouselButtons {
    position: absolute;
    bottom: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.city {
    cursor: pointer !important;
    border-bottom: 1px solid var(--brand-color) !important;
    font-size: 18px;
    line-height: 21px;
    color: #3F3F3F;
}

.city:hover {
    border-width: 3px !important;
    transition: border-width 0.3s;
    transition-timing-function: ease;
}