
.step-image {
    width: 150px;
}

.container {
    width: 25%;
    min-height: 300px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 240px;
}

.title {
    padding-bottom: 8px;
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 24px;
    color: #FFFFFF;
    border-bottom: 1px solid var(--brand-color) !important;
}

.description {
    font-weight: 200;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}