.block-header {
    font-weight: 200;
    font-size: 40px;
}

.photo {
    width: 100%;
}

.container {
    box-sizing: content-box;
    border: 1px solid #A09797;
    border-radius: 10px;
    min-width: 150px;
    padding: 10px 10px 10px 10px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.docs-container {
    border: 1px solid var(--brand-color);
}

.docs-title {
    position: absolute;
    background-color: white;
    padding: 0px 25px 0px 25px;
    top: -15px;
    left: 33%;
    font-size: 20px;
    color: #A09797;
}

.contacts-title {
    position: absolute;
    background-color: white;
    padding: 0px 25px 0px 25px;
    top: -15px;
    left: 42%;
    font-size: 20px;
    color: #A09797;
}