@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --brand-color: #FCA235;
    --secondary-color: #E5E5E5;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

* {
    font-family: 'Roboto', sans-serif !important;
}

.brand-text {
    color: var(--brand-color)
}

.border-brand-color {
    border-color: var(--brand-color) !important;
}

.button-brand-color {
    background-color: var(--brand-color) !important;
    border-color: var(--brand-color) !important;
    color: var(--dark);
}

.button-secondary-color {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
    color: var(--dark);
}

.link {
    cursor: pointer;
}
