.navbar-item {
    cursor: pointer !important;
    border-bottom: 1px solid var(--brand-color) !important;
    font-size: 18px;
    line-height: 21px;
    color: #3F3F3F;
}

.navbar-item:hover {
    border-width: 3px !important;
    transition: border-width 0.3s;
    transition-timing-function: ease;
}