
.step-image {
    width: 80px;
}

.container {
    box-sizing: content-box;
    border: 1px solid #A09797;
    border-radius: 10px;
    min-width: 150px;
    padding: 10px 10px 10px 10px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
