
.header {
    font-weight: 200;
    font-size: 40px;
}

.description {
    font-size: 18px;
    font-weight: 200;
}

.step {
    font-weight: 200;
    font-size: 24px;
}

.image {
    height: 160px;
}