
.icon-image {
    height: 35px;
    width: 35px;
}

.lk-button {
    background-color: white; /* Green */
    border: 1px solid #6A5586;
    color: #3F3F3F;
    padding: 6px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.number {
    font-size: 20px;
}

.number-hint {
    font-size: 14px;
    color: #3F3F3F;
}

.email {
    font-size: 18px;
    border-bottom: 1px solid #6A5586;
    color: #3F3F3F;
}

.contacts {
    margin-top: 8px;
}

/* .lk-button:hover {
    box-shadow: inset 0px 0px 18px -8px rgba(106,85,134,0.8);
} */