.container {
    padding: 30px 30px 40px 30px;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 45%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--brand-color);
    cursor: pointer;
    box-shadow: 0px 0px 0px 5px rgba(252, 162, 53, 0.3);;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--brand-color);
    cursor: pointer;
}

.slider-header {
    font-weight: 300;
    font-size: 24px;
}

.secondary-text {
    font-size: 18px;
    font-weight: 300;
}

.accept-button {
    background: #6A5586;
    padding: 11px 35px;
}

.accept-text {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
}