.image {
    width: 270px;
}

.block-header {
    font-weight: 200;
    font-size: 40px;
}

.line-title {
    font-size: 22px;
    line-height: 26px;
    color: #A09797;
}

.spinner-container {
    min-height: 60vh;
}