
.block-header {
    font-weight: 200;
    font-size: 40px;
}

.step-title {
    font-size: 32px;
}

.substep-title {
    font-weight: 200;
    font-size: 26px;
}

.text {
    font-size: 20px;
}

.mobile-screen {
    width: 300px !important;
    height: 600px !important;
}

.code-screen {
    width: 300px;
    height: 180px;
}

.image {
    height: 550px;
}

.contacts-title {
    position: absolute;
    background-color: white;
    padding: 0px 25px 0px 25px;
    top: -15px;
    left: 44%;
    font-size: 20px;
    color: #A09797;
}

.docs-container {
    border: 1px solid var(--brand-color);
}