
.section-container {
    width: 400px;
}

.questions-container {
    width: 100%;
}

.section-title {
    font-size: 26px;
    font-weight: 300;
    color: #3f3f3f;
    cursor: pointer;
    padding: 12px;
}

.selected-section-title {
    font-size: 26px;
    font-weight: 300;
    cursor: pointer;
    background-color: #6A5586;
    padding: 12px;
    color: white;
}

.q-header {
    font-size: 24px;
    padding: 12px;
    width: 100%;
    cursor: pointer;
}

.q-header:hover {
    color: #A09797;
}

.q-answer {
    padding: 12px;
    width: 100%;
    font-size: 22px;
    font-weight: 200;
}

.block-header {
    font-weight: 200;
    font-size: 40px;
}